<div class="mynavbar">
    <a id="nav_logo" class="text-decoration-none" href="/">
        <h3>Learning Django</h3>
    </a>

    <div id="nav_search">
        <form action="{% url 'home' %}" method="GET">
            <input
                class="form-control"
                type="text"
                name="q"
                placeholder="Search here..."
            />
        </form>
    </div>
    {% if request.user.is_authenticated %}
    <a class="nav_login text-decoration-none" href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a class="nav_login text-decoration-none" href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
