{% extends 'main.html' %}

{% block content %}

<style>
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="room-container">
    <div>
        <h2>ID: {{room.id}}</h2>
        <h3>{{room.name}}</h2>
            <p>{{room.description}}</p>

            <div class="comment-wrapper">
                <h3>Conversation</h3>
                <hr>

                {% for comment in comments %}
                <div>
                    {% if request.user == comment.user %}
                        <a href="{% url 'delete-message' comment.id room.id %}">Delete</a>
                    {% endif %}
                    <small>@{{comment.user}} {{comment.created|timesince}} ago</small>
                    <p>{{comment.body}}</p>
                </div>
                <hr>
                {% endfor %}
            </div>

            {% if request.user.is_authenticated %}
            <div class="comment-form">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="body" placeholder="Write your comment here...">
                </form>
            </div>
            {% endif %}
    </div>

    <div>
        <h3>Participants</h3>
        <hr>

        {% for participant in participants %}
            <div>
                <p>@{{participant}}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}